.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
  background-color: lightblue;
}
/*
.app__header, 
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


/*  Search bar */
.searchBox {
  display: flex;
  flex-direction: row;
  background-color: rgb(121, 121, 255);
  width: 100%;
  height: 10vh;
}

.searchBar {
  height: 20px;
  align-self: center;
  background-color: rgb(121, 121, 255);
  color: white;
}

.findWeather {
   height: 20px;
  align-self: center;
  background-color: rgb(121, 121, 255);
margin: 60px;
}

.displayText {
  align-self: center;
  margin-left: 30px;
  margin-right: 100px;
  
}


/* Current weather */

.mainDisplay {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



